@using Test_MVC.Models
<!-- saved from url=(0055)../../Home/Index -->
<html lang="en">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Vitual | Academy</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://themes.3rdwavemedia.com/college-green/favicon.ico">
    <link href="~/about_files/css" rel="stylesheet" type="text/css">
    <!-- Global CSS -->
    <link rel="stylesheet" href="~/about_files/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/about_files/font-awesome.css">
    <link rel="stylesheet" href="~/about_files/flexslider.css">
    <link rel="stylesheet" href="~/about_files/prettyPhoto.css">
    <!-- Theme CSS -->

    <link id="theme-style" rel="stylesheet" href="~/about_files/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script async="" src="~/about_files/fbevents.js"></script>
    <script async="" src="~/about_files/analytics.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-24707561-9', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
        document, 'script', '//connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1506230579705064');
        fbq('track', "PageView");</script>
    <noscript>
        &lt;img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=1506230579705064&amp;ev=PageView&amp;noscript=1"
        /&gt;
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body class="home-page">
    <div class="wrapper">
        <!-- ******HEADER****** -->
        <header class="header">
            <div class="top-bar">
                <div class="container">
                    <ul class="social-icons col-md-6 col-sm-6 col-xs-12 hidden-xs">
                        <li><a href="../../Home/Index#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="../../Home/Index#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="../../Home/Index#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="../../Home/Index#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="../../Home/Index#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="row-end"><a href="../../Home/Index#"><i class="fa fa-rss"></i></a></li>
                    </ul><!--//social-icons-->
                   

                   <div>
                    <form class="pull-right search-form" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search the site...">
                        </div>
                        <button type="submit" class="btn btn-theme">Go</button>
                        
                    </form>
                       @Html.Partial("~/Views/Shared/_LoginPartial.cshtml") 
                   </div>
                </div>
            </div><!--//to-bar-->
            <div class="header-main container">
                <h1 class="logo col-md-4 col-sm-4" style="font-size:20px" >
                    <a href="../../Home/Index"><img style="height:60px" id="logo" src="~/about_files/logo.png" alt="Logo" > Virtual Academy</a>
                </h1><!--//logo-->
                <div class="info col-md-8 col-sm-8">
                    <ul class="menu-top navbar-right hidden-xs">
                        <li class="divider"><a href="../../Home/Index">Home</a></li>
                        <li class="divider"><a href="../../Home/FAQ">FAQ</a></li>
                        <li><a href="">Contact</a></li>
                    </ul><!--//menu-top-->
                    <br>
                    <div class="contact pull-right">
                        <p class="phone"><i class="fa fa-phone"></i>Call us today 0800 123 4567</p>
                        <p class="email"><i class="fa fa-envelope"></i><a href="../../Home/Index#">enquires@website.com</a> </p>
                    
                    
                    
                    </div><!--//contact-->
                </div><!--//info-->
            </div><!--//header-main-->
        </header><!--//header-->
        <!-- ******NAV****** -->
        <nav class="main-nav" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item"><a href="../../Home/Index">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="../../Home/Index#">Courses <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                @{
                                    db ctx = new db();
                                    List<Class> list = ctx.Class.ToList();
                                    }
                                @foreach(var v in list)
                                {
                                  <li class="dropdown-submenu">
                                    <a class="trigger" tabindex="-1" href="../../Home/Index#">@v.Name<i class="fa fa-angle-right"></i></a>
                                    <ul class="dropdown-menu">
                                        @foreach(var sub in v.SubjectClass.Select(x=>x.Subject))
                                        { 
                                        <li class="dropdown-submenu">
                                            <a   href="../../Class/Subject/@sub.SubjectId">@sub.Name<i class="fa fa-angle-right"></i></a>
                                            
                                        </li>
                                        }
                                    </ul>
                                </li>
                                }
                            </ul>
                        </li>
                        <li class="nav-item"><a href="../../Quiz/Index">Quiz</a></li>
                       
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="../../Home/Index#">Pages <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="../../Home/About">About</a></li>
                                <li><a href="../../Home/Team">Leadership Team</a></li>
                                <li><a href="http://themes.3rdwavemedia.com/college-green/gallery-album.html">Single Gallery</a></li>
                                <li><a href="../../Home/FAQ">FAQ</a></li>
                                <li><a href="../../Home/PrivatePolicy">Privacy Policy</a></li>
                                <li><a href="">Terms &amp; Conditions</a></li>
                            </ul>
                        </li><!--//dropdown-->
                        <li class="nav-item"><a href="../../Home/Contact">Contact</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </div><!--//container-->
        </nav><!--//main-nav-->
        <!-- ******CONTENT****** -->
    <div>
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        </div>
    </div><!--//wrapper-->
    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-3 col-sm-4 about">
                        <div class="footer-col-inner">
                            <h3>About</h3>
                            <ul>
                                <li><a href="../../Home/About"><i class="fa fa-caret-right"></i>About us</a></li>
                                <li><a href="../../Home/Contact"><i class="fa fa-caret-right"></i>Contact us</a></li>
                                <li><a href=""><i class="fa fa-caret-right"></i>Privacy policy</a></li>
                                <li><a href="../../Home/TermsAndConditions"><i class="fa fa-caret-right"></i>Terms &amp; Conditions</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    <div class="footer-col col-md-6 col-sm-8 newsletter">
                        <div class="footer-col-inner">
                            <h3>Join our mailing list</h3>
                            <p>Subscribe to get our weekly newsletter delivered directly to your inbox</p>
                            <form class="subscribe-form">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter your email">
                                </div>
                                <input class="btn btn-theme btn-subscribe" type="submit" value="Subscribe">
                            </form>

                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    <div class="footer-col col-md-3 col-sm-12 contact">
                        <div class="footer-col-inner">
                            <h3>Contact us</h3>
                            <div class="row">
                                <p class="adr clearfix col-md-12 col-sm-4">
                                    <i class="fa fa-map-marker pull-left"></i>
                                    <span class="adr-group pull-left">
                                        <span class="street-address">College Green</span><br>
                                        <span class="region">56 College Green Road</span><br>
                                        <span class="postal-code">BS16 AP18</span><br>
                                        <span class="country-name">UK</span>
                                    </span>
                                </p>
                                <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>0800 123 4567</p>
                                <p class="email col-md-12 col-sm-4"><i class="fa fa-envelope"></i><a href="../../Home/Index#">enquires@website.com</a></p>
                            </div>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                </div>
            </div>
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <div class="row">
                    <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright  2014 College Green Online | Website template by <a href="../../Home/Index#">3rd Wave Media</a></small>
                    <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
                        <li><a href="../../Home/Index#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="../../Home/Index#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="../../Home/Index#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="../../Home/Index#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="../../Home/Index#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="../../Home/Index#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="../../Home/Index#"><i class="fa fa-skype"></i></a></li>
                        <li class="row-end"><a href="../../Home/Index#"><i class="fa fa-rss"></i></a></li>
                    </ul><!--//social-->
                </div><!--//row-->
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->
    <!-- *****CONFIGURE STYLE****** -->
    <div class="config-wrapper hidden-xs">
        <div class="config-wrapper-inner">
            <a id="config-trigger" class="config-trigger" href="../../Home/Index#"><i class="fa fa-cog"></i></a>
            <div id="config-panel" class="config-panel">
                <p>Choose Colour</p>
                <ul id="color-options" class="list-unstyled list-inline">
                    <li class="default active"><a data-style="assets/css/styles.css" data-logo="assets/images/logo.png" href="../../Home/Index#"></a></li>
                    <li class="green"><a data-style="assets/css/styles-green.css" data-logo="assets/images/logo-green.png" href="../../Home/Index#"></a></li>
                    <li class="purple"><a data-style="assets/css/styles-purple.css" data-logo="assets/images/logo-purple.png" href="../../Home/Index#"></a></li>
                    <li class="red"><a data-style="assets/css/styles-red.css" data-logo="assets/images/logo-red.png" href="../../Home/Index#"></a></li>
                </ul><!--//color-options-->
                <a id="config-close" class="close" href="../../Home/Index#"><i class="fa fa-times-circle"></i></a>
            </div><!--//configure-panel-->
        </div><!--//config-wrapper-inner-->
    </div><!--//config-wrapper-->
    <!-- Javascript -->
    <script type="text/javascript" src="~/about_files/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/about_files/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/about_files/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/about_files/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="~/about_files/back-to-top.js"></script>
    <script type="text/javascript" src="~/about_files/jquery.placeholder.js"></script>
    <script type="text/javascript" src="~/about_files/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/about_files/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/about_files/jflickrfeed.min.js"></script>
    <script type="text/javascript" src="~/about_files/main.js"></script>

    <div id="topcontrol" title="Scroll Back to Top" style="position: fixed; bottom: 5px; right: 5px; opacity: 0; cursor: pointer;"><i class="fa fa-angle-up"></i></div>
</body>
</html>

