@using Test_MVC.Models

<!DOCTYPE html>
<!-- saved from url=(0042)http://www.formget.com/features/branding/# -->
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Virtual | Academy</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../Custom Brandings _ FormGet_files/cfb4db53e0"></script>
    <script src="../../Custom Brandings _ FormGet_files/nr-768.min.js"></script>
    <script type="text/javascript" async="" src="../../Custom Brandings _ FormGet_files/heap.js"></script>
    <script async="" src="../../Custom Brandings _ FormGet_files/analytics.js"></script>
    <script type="text/javascript">window.NREUM || (NREUM = {}), __nr_require = function (e, n, t) { function r(t) { if (!n[t]) { var o = n[t] = { exports: {} }; e[t][0].call(o.exports, function (n) { var o = e[t][1][n]; return r(o || n) }, o, o.exports) } return n[t].exports } if ("function" == typeof __nr_require) return __nr_require; for (var o = 0; o < t.length; o++) r(t[o]); return r }({ QJf3ax: [function (e, n) { function t(e) { function n(n, t, a) { e && e(n, t, a), a || (a = {}); for (var u = c(n), f = u.length, s = i(a, o, r), p = 0; f > p; p++) u[p].apply(s, t); return s } function a(e, n) { f[e] = c(e).concat(n) } function c(e) { return f[e] || [] } function u() { return t(n) } var f = {}; return { on: a, emit: n, create: u, listeners: c, _events: f } } function r() { return {} } var o = "nr@context", i = e("gos"); n.exports = t() }, { gos: "7eSDFh" }], ee: [function (e, n) { n.exports = e("QJf3ax") }, {}], 3: [function (e, n) { function t(e) { return function () { r(e, [(new Date).getTime()].concat(i(arguments))) } } var r = e("handle"), o = e(1), i = e(2); "undefined" == typeof window.newrelic && (newrelic = window.NREUM); var a = ["setPageViewName", "addPageAction", "setCustomAttribute", "finished", "addToTrace", "inlineHit", "noticeError"]; o(a, function (e, n) { window.NREUM[n] = t("api-" + n) }), n.exports = window.NREUM }, { 1: 12, 2: 13, handle: "D5DuLP" }], gos: [function (e, n) { n.exports = e("7eSDFh") }, {}], "7eSDFh": [function (e, n) { function t(e, n, t) { if (r.call(e, n)) return e[n]; var o = t(); if (Object.defineProperty && Object.keys) try { return Object.defineProperty(e, n, { value: o, writable: !0, enumerable: !1 }), o } catch (i) { } return e[n] = o, o } var r = Object.prototype.hasOwnProperty; n.exports = t }, {}], D5DuLP: [function (e, n) { function t(e, n, t) { return r.listeners(e).length ? r.emit(e, n, t) : void (r.q && (r.q[e] || (r.q[e] = []), r.q[e].push(n))) } var r = e("ee").create(); n.exports = t, t.ee = r, r.q = {} }, { ee: "QJf3ax" }], handle: [function (e, n) { n.exports = e("D5DuLP") }, {}], XL7HBI: [function (e, n) { function t(e) { var n = typeof e; return !e || "object" !== n && "function" !== n ? -1 : e === window ? 0 : i(e, o, function () { return r++ }) } var r = 1, o = "nr@id", i = e("gos"); n.exports = t }, { gos: "7eSDFh" }], id: [function (e, n) { n.exports = e("XL7HBI") }, {}], G9z0Bl: [function (e, n) { function t() { var e = d.info = NREUM.info, n = f.getElementsByTagName("script")[0]; if (e && e.licenseKey && e.applicationID && n) { c(p, function (n, t) { n in e || (e[n] = t) }); var t = "https" === s.split(":")[0] || e.sslForHttp; d.proto = t ? "https://" : "http://", a("mark", ["onload", i()]); var r = f.createElement("script"); r.src = d.proto + e.agent, n.parentNode.insertBefore(r, n) } } function r() { "complete" === f.readyState && o() } function o() { a("mark", ["domContent", i()]) } function i() { return (new Date).getTime() } var a = e("handle"), c = e(1), u = window, f = u.document; e(2); var s = ("" + location).split("?")[0], p = { beacon: "bam.nr-data.net", errorBeacon: "bam.nr-data.net", agent: "js-agent.newrelic.com/nr-768.min.js" }, d = n.exports = { offset: i(), origin: s, features: {} }; f.addEventListener ? (f.addEventListener("DOMContentLoaded", o, !1), u.addEventListener("load", t, !1)) : (f.attachEvent("onreadystatechange", r), u.attachEvent("onload", t)), a("mark", ["firstbyte", i()]) }, { 1: 12, 2: 3, handle: "D5DuLP" }], loader: [function (e, n) { n.exports = e("G9z0Bl") }, {}], 12: [function (e, n) { function t(e, n) { var t = [], o = "", i = 0; for (o in e) r.call(e, o) && (t[i] = n(o, e[o]), i += 1); return t } var r = Object.prototype.hasOwnProperty; n.exports = t }, {}], 13: [function (e, n) { function t(e, n, t) { n || (n = 0), "undefined" == typeof t && (t = e ? e.length : 0); for (var r = -1, o = t - n || 0, i = Array(0 > o ? 0 : o) ; ++r < o;) i[r] = e[n + r]; return i } n.exports = t }, {}] }, {}, ["G9z0Bl"]);</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.4 -->
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="~/https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="~/https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->

    <link href="~/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="../../dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="../../dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <!-- links -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="shortcut icon" href="PUT YOUR FAVICON HERE">-->
    <!-- Google Web Font Embed -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
     <link href="~/Content/css/bootstrap.css" rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="~/Content/js/colorbox/colorbox.css" rel='stylesheet' type='text/css'>
    <link href="~/Content/css/templatemo_style.css" rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link href="../../Custom Brandings _ FormGet_files/stylling.css" rel="stylesheet" type="text/css">
    <link href="../../Custom Brandings _ FormGet_files/style.css" rel="stylesheet" type="text/css">
    <link href="../../Custom Brandings _ FormGet_files/style2.css" rel="stylesheet" type="text/css">
    <link href="../../Custom Brandings _ FormGet_files/style3.css" rel="stylesheet" type="text/css">
    <link href="../../Custom Brandings _ FormGet_files/style4.css" rel="stylesheet" type="text/css">
    <link href="../../Custom Brandings _ FormGet_files/style5.css" rel="stylesheet" type="text/css">
    <link href="../../Custom Brandings _ FormGet_files/style6.css" rel="stylesheet" type="text/css">
    <link href="../../Custom Brandings _ FormGet_files/style7.css" rel="stylesheet" type="text/css">
    <link href="../../Custom Brandings _ FormGet_files/style8.css" rel="stylesheet" type="text/css">

    
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "http:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.formget.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.3.1" } };
        !function (a, b, c) { function d(a) { var c = b.createElement("canvas"), d = c.getContext && c.getContext("2d"); return d && d.fillText ? (d.textBaseline = "top", d.font = "600 32px Arial", "flag" === a ? (d.fillText(String.fromCharCode(55356, 56812, 55356, 56807), 0, 0), c.toDataURL().length > 3e3) : (d.fillText(String.fromCharCode(55357, 56835), 0, 0), 0 !== d.getImageData(16, 16, 1, 1).data[0])) : !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g; c.supports = { simple: d("simple"), flag: d("flag") }, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.simple && c.supports.flag || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <script src="../../Custom Brandings _ FormGet_files/wp-emoji-release.min.js" type="text/javascript"></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <style type="text/css" media="all"></style>

    
    


    <style type="text/css" media="all"></style>
    <style type="text/css" media="only screen and (max-width: 768px)"></style>
    <style type="text/css" media="all"></style>

    <link rel="stylesheet" href="../../Custom Brandings _ FormGet_files/jquery-ui.css" type="text/css" media="all">
    <link rel="stylesheet" href="../../Custom Brandings _ FormGet_files/woocommerce-layout.css" type="text/css" media="all">
    <link rel="stylesheet" href="../../Custom Brandings _ FormGet_files/woocommerce-smallscreen.css" type="text/css" media="only screen and (max-width: 768px)">
    <link rel="stylesheet" href="../../Custom Brandings _ FormGet_files/woocommerce.css" type="text/css" media="all">
    <script type="text/javascript" src="../../Custom Brandings _ FormGet_files/jquery.js"></script>
    <script type="text/javascript" src="../../Custom Brandings _ FormGet_files/jquery-migrate.min.js"></script>

    <style type="text/css">
        .wccs-field-class {
            float: left;
            width: 47%;
        }

            .wccs-field-class:nth-child(2n+2) {
                padding-right: 3.4% !important;
            }

        .add_info_wccs {
            clear: both;
        }
    </style>        <!--Customizer CSS-->
    <style type="text/css">
    </style>
    <!--/Customizer CSS-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-43981329-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (t, e) {
            window.heap.appid = t, window.heap.config = e;
            var a = document.createElement("script");
            a.type = "text/javascript", a.async = !0, a.src = ("https:" === document.location.protocol ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap.js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(a, n);
            for (var o = function (t) {
                return function () {
                    heap.push([t].concat(Array.prototype.slice.call(arguments, 0)))
            }
            }, p = ["clearEventProperties", "identify", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)
                heap[p[c]] = o(p[c])
        };
        heap.load("3155530423");
    </script>
</head>
<body class="single single-features postid-12137" style="">
    <div id="main">
        <style type="text/css">
            #middle_header_container ul li, #middle_header_container .header-menus ul li {
                padding-top: 11px;
                padding-bottom: 11px;
            }

            #sub_header_strip .header-menus ul li a {
                padding-top: 4px;
                padding-bottom: 3px;
            }
        </style>
        <div id="sub_header_strip">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 pull-left" style=" padding:0%; ">
                        <div class="header-logs">
                            <ul>
                                <li>
                                    <a href="~/Home">
                                        <img src="~/Content/images/icon.png" width="40px" height="30px" alt="Formget logo"><span style="">Virtual Academy</span>
                                    </a>
                                </li>
                                
                               
                            </ul>
                        </div>
                    </div>
                    @*<div class="col-md-3 hidden-sm hidden-xs">
                        <div class="header-menus">
                            <ul >
                               
                            </ul>
                        </div>
                    </div>*@
                    <div class="  pull-right" >
                        <ul class="nav navbar-nav" style="padding-left:0%; margin-right:10%;  list-style:none ">
                           
                            @if (Session["user"]!=null)
                            {
                                 <li class="dropdown user user-menu" style="margin-left:2%;background-color: darkcyan;">
                                      @{ 
                                UserProfile us = (UserProfile)HttpContext.Current.Session["user"];
                                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-color: darkcyan">
                                        <p> <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image" />@us.UserName</p>
                                     </a>
                                      }
                                     <div class="col-sm-6">
                                    <ul class="dropdown-menu" style="margin-right:20%; background-color:darkcyan">
                                        <!-- User image -->
                                       
                                        <li class="user-header" style="background-color: darkcyan">
                                            <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"  >
                                            <p style="background-color: darkcyan">
                                               @us.UserName
                                                <small>Member since Nov. 2012</small>
                                            </p>
                                        </li>
                                            
                                        <!-- Menu Body -->
                                        <li class="user-body" style="background-color: darkcyan;">
                                            <div >
                                                @{
                                                         UserProfile up = (UserProfile)Session["user"];
                                                         if(up.Type=="Teacher")
                                                         {
                                                             <div class=" col-xs-4 text-left" style="background-color: darkcyan">
                                                                <a href="../../Teacher/Index/@up.UserId" style="background-color: darkcyan">Class</a>
                                                            </div>
                                                         }
                                                         else if(up.Type=="Student")
                                                         {
                                                             <div class=" col-xs-4 text-left" style="background-color: darkcyan">
                                                                <a href="../../Student/Index/@up.UserId" style="background-color: darkcyan">Class</a>
                                                            </div>
                                                         }
                                                         else if(up.Type=="Student")
                                                         {
                                                             <div class=" col-xs-4 text-left" style="background-color: darkcyan">
                                                                <a href="../../Parent/Index/@up.UserId" style="background-color: darkcyan">Class</a>
                                                            </div>
                                                         }
                                                
                                                }
                                            
                                                @*<div class="col-xs-4 " style="background-color: darkcyan">
                                                    <a href="#" style="background-color: darkcyan">Friends</a>
                                                </div>*@
                                             </div>
                                        </li>
                                        <!-- Menu Footer-->
                                        <li class="user-footer" style="background-color: darkcyan; ">
                                            <div class="pull-left" >
                                                <a href="../../Home/Profile/@us.UserId" class="btn btn-default btn-flat" style="background-color: darkcyan">Profile</a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="~/User/Logout" class="btn btn-default btn-flat" style="background-color: darkcyan">Sign out</a>
                                            </div>
                                        </li>
                                    </ul>
                                         </div>
                                </li>
                                
                                
                            }

                            else
                            {
                               <li style="margin-bottom:13px">
                                <a href="~/User/Register">Register</a></li>
    <li style="margin-bottom:13px">
        <a href="~/User/Login">Login</a>
    </li>
                            }
                           

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="sub_menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--Menus-->
                        <div class="menu-wrap">
                            <menu id="menu" style="display: block;">
                                <div class="menu-form-builder-container">
                                    <ul id="menu-form-builder" class="main-header-menu">
                                        <li style="text-align:center; padding: 5px; margin-bottom: 15px; width:80px; height: 30px; display: block; background-color: seagreen; float: left"><a href="~/Home/Index"><span style="color:white">HOME</span></a></li>
                                        <li style="text-align: center; padding: 5px; width: 80px; height: 30px; display: block; background-color: seagreen; float: left; "><a href="~/Class"><span style="color:white">CLASS</span></a></li>
                                        <li style="text-align: center; padding: 5px; width: 80px; height: 30px; display: block; background-color: seagreen; float: left; "><a href="~/Quiz"><span style="color:white">Quiz</span></a></li>
                                        <li style ="text-align: center; padding: 5px; width: 80px; height: 30px; display: block; background-color: seagreen; float: left; "><a href="~/Home/Index#templatemo-about"><span style="color:white">ABOUT</span></a></listyle>
                                        <li style="text-align: center; padding: 5px; width: 80px; height: 30px; display: block; background-color: seagreen; float: left; "><a href="~/Home/Index#templatemo-contact"><span style="color:white">CONTACT</span></a></li>

                                        <li class="float-right pull-right" style="margin-right:0%; ">

                                            <input type="text" name="Search" id="Search" placeholder="Search" style="color:black;" class="glyphicon-search col-lg-12">

                                        </li>

                                    </ul>
                                </div>
                               

                            </menu>
                        </div>
                        <!--/Menus-->
                    </div>
                </div>
            </div>
        </div>
        
        @Scripts.Render("~/bundles/jquery")
            
        <script>
            function myFunction() {
                alert($('#Search').val());
                $('#AllinOne').load("../../Class/Search?Search=" + $('#Search').val());
            }

            $(document).ready(function () {


                $('#Search').change(function () {
                    alert($('#Search').val());
                    $('#AllinOne').load("../../Class/Search?Search=" + $('#Search').val());

                });


            });
        </script>

        <!--Header-->
        <header id="header">
            <span class="clear"></span><!--Sub Header-->
            <!--<header id="sub_header">-->
            <!--    <div class="container">-->
            <!--        <div class="row">-->
            <!--            <div class="st-title-wrap">-->
            <!--                <span class="page-title">--><!--</span>-->
            <!--                <span class="page-description">--><!--</span>-->
            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!---->
            <!--</header>-->
            <!--Sub Header-->
        </header>
        <!--/Header-->
        <!--Content Wrapper-->
        <div id="templatemo-top">
        </div>
        <div id="AllinOne" >
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
            </div>
        <!--/Content Wrapper-->
        <!--Footer-->
        <div id="footer" class="footer" style=" background-color:darkcyan" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="rmm minimal graphite" data-menu-title="Footer Menu" style=" background-color:darkcyan">
                            <ul id="menu-main-footer-menu" class="rmm-main-list" style="display: block; background-color:darkcyan">

                                <li><a href="~/Home/Index">HOME</a></li>
                                <li><a href="~/Class">CLASS</a></li>
                                <li><a href="~/Home/Index#templatemo-about">ABOUT</a></li>
                                <li><a href="~/Home/Index#templatemo-contact">CONTACT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Footer-->
        <!--Footer Bottom-->
        <div id="footer_bottom" class="footer-bottom" style=" background-color:black">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">© 2016 Virual Academy (VAS). All rights reserved.</div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer Bottom-->
    </div>
    <script src="~/Content/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/js/stickUp.min.js" type="text/javascript"></script>
    <script src="~/Content/js/colorbox/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="~/Content/js/templatemo_script.js" type="text/javascript"></script>

    <link rel="stylesheet" id="shortcodebutton-css-css" href="../../Custom Brandings _ FormGet_files/btn-style.css" type="text/css" media="all">
    <script type="text/javascript" src="../../Custom Brandings _ FormGet_files/core.min.js"></script>
    <script type="text/javascript" src="../../Custom Brandings _ FormGet_files/datepicker.min.js"></script>
    <script type="text/javascript" src="../../Custom Brandings _ FormGet_files/scripts.js"></script>
    <script type="text/javascript" src="../../Custom Brandings _ FormGet_files/init.js"></script>
    <script type="text/javascript" src="../../Custom Brandings _ FormGet_files/comment-reply.min.js"></script>
    <script type="text/javascript" src="../../Custom Brandings _ FormGet_files/jquery.blockUI.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/features\/branding\/?wc-ajax=%%endpoint%%" };
        /* ]]> */
    </script>
    <script type="text/javascript" src="../../Custom Brandings _ FormGet_files/woocommerce.min.js"></script>
    <script type="text/javascript" src="../../Custom Brandings _ FormGet_files/jquery.cookie.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/features\/branding\/?wc-ajax=%%endpoint%%", "fragment_name": "wc_fragments" };
        /* ]]> */
    </script>
    <script type="text/javascript" src="../../Custom Brandings _ FormGet_files/cart-fragments.min.js"></script>
    <script type="text/javascript" src="../../Custom Brandings _ FormGet_files/jquery.meanmenu.js"></script>
    <script type="text/javascript" src="../../Custom Brandings _ FormGet_files/js_init.js"></script>
    <script type="text/javascript">window.NREUM || (NREUM = {}); NREUM.info = { "beacon": "bam.nr-data.net", "licenseKey": "cfb4db53e0", "applicationID": "5090808", "transactionName": "ZAQENkpXDEIEWkdaWl1OJwFMXw1fSkpaXVJfBEsEXVcWRBdcQA==", "queueTime": 0, "applicationTime": 522, "atts": "SEMHQAJNH0w=", "errorBeacon": "bam.nr-data.net", "agent": "js-agent.newrelic.com\/nr-768.min.js" }</script>
    <div id="cboxOverlay" style="display: none;"></div><div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;"><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxTitle" style="float: left;"></div><div id="cboxCurrent" style="float: left;"></div><button type="button" id="cboxPrevious"></button><button type="button" id="cboxNext"></button><button id="cboxSlideshow"></button><div id="cboxLoadingOverlay" style="float: left;"></div><div id="cboxLoadingGraphic" style="float: left;"></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div></div>
</body>
</html>