@using Test_MVC.Models
<div id="content_wrapper" class="content single">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-page rmm taxlist graphite">

                    <span class="sidebar-title" style="display: block;">Classes</span>
                    <ul id="menu-formget-features" class="rmm-main-list" style="display: block;">
                        
                            @foreach(var v in new VASdb().Class.ToList())
                            { 
                        
                        <li id="menu-item-30013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30013"><a href="~/Class/Index#@v.Name">@v.Name</a></li>
                        }
                        


                    </ul>
                </div>

            </div>

            <div class="col-md-8" style="padding:0%">
                

                        @foreach(var v in new VASdb().Class.ToList())
                            {
                            
                <div class=" panel panel-body" id="@v.Name">
                    <div>
                        <br />
                        <a href="../../Class/Of/@v.ClassId"><h3>@v.Name</h3></a>
                        <div class="">
                            <div class=" panel panel-primary ">
                                <div class="panel-heading">
                                    Total Subjects: @v.SubjectClass.Count()
                                   
                                </div>
                                <div class="panel-body">
                                    <div>
                                        @{int chap=1;
                                        foreach(var sub in v.SubjectClass)
                                        { 
                                        <div class="col-md-5">
                                            @chap . @sub.Subject.Name <hr/>

                                        </div>
                                        }}
                                    </div>

                                </div>
                            </div>

                            <!-- /.col-lg-4 -->
                        </div>


                        <div>
                            <a href="../../Class/Of/@v.ClassId"><button class="btn-progres col-lg-2" style="margin-left:38%">See All</button></a>
                        </div>
                    </div>

                </div>
                        }

            </div>
        </div>



    </div>
