@model Test_MVC.Models.UserProfile
@using Test_MVC.Models
<div id="shaki">
<div id="content_wrapper" class="content single">
    <div class="container">
        <div class="row">
            <div class="col-md-2 ">
                <div class="sidebar-page rmm taxlist graphite">

                    <span class="sidebar-title" style="display: block;">Classes</span>
                   


                    <ul id="menu-formget-features" class="rmm-main-list" style="display: block;">
                        @foreach(var v in Model.StudentTeacherClass.Where(x=>x.Teacher_Id==Model.UserId).Select(x=>x.SubjectClass))
                        { 
                            <li id="menu-item-30013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30013">
                                
                                <ul id="menu-formget-features" class="rmm-main-list" style="display: block;">
                                    @v.Class.Name

                                  
                                            @foreach(var obj in v.Subject.SubjectClass.Select(x=>x.Subject))
                                            { 
                                            <li><a href="~/Teacher/Class/@v.SubClassId">@obj.Name</a></li>
                                            
                                            }
                                </ul>
                            </li>    
                        }                   
                        

                    </ul>
                    <hr/>
                  
                   
                </div>

            </div>
            <div id="shak">
            <div class="col-md-2 pull-right" style="margin-top:4%">
                <div class=" panel panel-success ">
                    <div class="panel-heading" id="heading">

                       
                    </div>
                    <div class="panel-body">
                        <button class="btn btn-primary"  onclick="LectureClick()" value="Upload Lecture">Upload Lecture</button>
                        <br/>
                        <input type="button" value="Upload Quiz">
                    </div>
                    @Scripts.Render("~/bundles/jquery")
                    <script>
                        function LectureClick() {
                            $("#shak").empty().load("/Teacher/AddLecture");
                        } 
                    </script>





                </div>
            </div>


            <div class="col-md-7 "  >
                <div class="panel panel-primary ">

                    <form action="../../Teacher/Add_ClassComment/@Model.StudentTeacherClass.First(x=>x.Teacher_Id==Model.UserId).StudentTeacherClassId" method="post">
                        <div class="panel-body " style="background-color:#ccc">
                            <img src="../../Content/images/icon.png" style="float:left; margin-right:0%" width="10%" height="10%" />

                            <textarea style="width:70%; height:10%; float:left"   name="Comment" placeholder="Ask a Question..."> </textarea>
                            <input style="width:20%; height:6%; float:left" type="submit" value="Comment" class="btn btn-primary ">
                        </div>
                        
                    </form>
                </div>
    @{
        try
        {
            List<Comment> listofComment = new List<Comment>();
            List<StudentTeacherClass> listOfSTC = new db().StudentTeacherClass.Where(x => x.Teacher_Id == Model.UserId).ToList();

            foreach (var v in listOfSTC)
            {
                foreach (var obj in v.Comment)
                {
                    listofComment.Add(obj);
                }
            }



           
            foreach (var v in listofComment)
            {
                <div class="">

                    <div style="margin-left:">
                        <p><img src="../../Content/images/ width=" 40px" height="40px" /> <a style="margin-right:3%">@v.UserProfile.UserName</a>@v.Comment1</p>
                    </div>
                    <hr/>
                    <a style="font-size:9px">All Replies</a>
                    <a style="font-size:9px" id="answer" onclick="answer(@v.CommentId)"> &nbsp;&nbsp;&nbsp;&nbsp; Answer this Question</a>

                    <hr />


                    @Scripts.Render("~/bundles/jquery")
                    <script>
                            function ClassClick() {
                                $("#formOfClass").show();
                            }

                            $(document).ready(function () {

                                $("#formOfClass").hide();
                                $('#ClassSelector').change(function () {

                                    $.post("/Teacher/getSubjectName", { Name: $('#ClassSelector').val() }, function (data) {

                                        $('#subjectS').empty().append(data.SubjectName)
                                    });
                                });

                            });
                        function ReplyofComment(value) {
                            $.post("/Teacher/SubmitReply", { id: value, Name: $('#Reply' + value).val() }, function (data) {

                                $('#' + value).append(data.result);
                               
                                $("#shaki").load('/Teacher/shak?id=4')
                                var data = "<div class=" + "\"" + "col-lg-12" + "\"" + ">";
                                data += " <p id=" + "\"" + "pId" + "\"" + ">   <img src=" + "\"" + "../../Content/images/ width=" + "\"" + " 40px" + "\"" + " height=" + "\"" + "40px" + "\"" + " style=" + "\"" + "margin-right:3%" + "\"" + " />";
                                data += "<input type=" + "\"" + "text" + "\"" + " name=" + "\"" + "Reply" + "\"" + " id=" + "\"" + "Reply" + value + "\"" + " placeholder=" + "\"" + "Answer this Question..." + "\"" + " />";
                                data += "<input type=" + "\"" + "submit" + "\"" + " onclick=" + "\"" + "ReplyofComment(" + value + ")" + "\"" + " value=" + "\"" + "Reply" + "\"" + " id=" + "\"" + "submitReply" + "\"" + "  /></p>";
                                data += "</div>";
                                $("#" + value).append(data);
                                $("#submitReply").show();
                                //  $("#"+value).show();
                            });
                        }
                        function answer(id) {
                            var data ="<div class="+"\""+"col-lg-12"+"\""+">";
                            data += " <p id=" + "\"" + "pId" + "\"" + ">   <img src=" + "\"" + "../../Content/images/ width=" + "\"" + " 40px" + "\"" + " height=" + "\"" + "40px" + "\"" + " style=" + "\"" + "margin-right:3%" + "\"" + " />";
                            data += "<input type=" + "\"" + "text" + "\"" + " name=" + "\"" + "Reply" + "\"" + " id=" + "\"" + "Reply" + id + "\"" + " placeholder=" + "\"" + "Answer this Question..." + "\"" + " />";
                            data += "<input type=" + "\"" + "submit" + "\"" + " onclick=" + "\"" + "ReplyofComment(" + id + ")" + "\"" + " value=" + "\"" + "Reply" + "\"" + " id=" + "\"" + "submitReply" + "\"" + "  /></p>";
                            data+="</div>";
                            $("#" + id).append(data);
                            $("#submitReply").show();
                        }

                        $(document).ready(function () {
                            //$("#ansdiv").hide();d ddddddd
                            // $("#commId").hide();
                            $('#Reply').change(function () {
                                $("#submitReply").show();
                            });


                        });
                    </script>
                    <div style="margin-left:8%" id="@v.CommentId" class="col-lg-12">
                        @foreach (var obj in v.Reply)
                        {
                            <div style="margin-left:0%">
                                <p><img src="../../Content/images/ width=" 40px" height="40px" /> <a style="margin-right:3%">@obj.UserProfile.UserName</a>@obj.Reply1</p>
                            </div>
                            <hr />
                        }


                    </div>
                </div>
                } 
                }
                catch(Exception e)
                    { 
                    <h3>No Comment</h3>
                }
                }        
            </div>
       
                </div>

            </div>

            <!--            <div class="col-md-3 col-sm-4">-->
            <!--            </div> -->

        </div>
    </div>
</div>