@model Test_MVC.Models.SubjectClass
@using Test_MVC.Models
@{
    List<Class> listOfClass=new db().Class.ToList();
    List<SubjectClass> list = new db().SubjectClass.ToList();
    
    int subClassId=0;

<div id="content_wrapper" class="content single">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-page rmm taxlist graphite">

                    <span class="sidebar-title" style="display: block;">Classes</span>
                    <ul id="menu-formget-features" class="rmm-main-list" style="display: block;">
                        
                        @foreach(var v in listOfClass)
                        { 
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    @v.Name
                                    <span class="caret"></span>
                                </a>
                                @foreach(var obj in v.SubjectClass.Where(x=>x.Class_Id==v.ClassId).Select(x=>x.Subject))
                                {
                                    subClassId = new db().SubjectClass.First(x => x.Subject_Id == obj.SubjectId && x.Class_Id == v.ClassId).SubClassId;
                                <ul class="dropdown-menu">
                                    <li onclick="myFunction(@subClassId)"><a href="~/Quiz/Index#@subClassId">@obj.Name</a></li>
                                   
                                </ul>
                                }
                            </li>
                        }
                        
                    </ul>
                </div>

            </div>

            <div class="col-md-7">
                @{
                    List<SubjectClass> subList = new db().SubjectClass.ToList();
                    
                }

                <div id="individual">
                    <div>
                        @Model.Class.Name --> @Model.Subject.Name
                    </div>
                    <form action="~/Quiz/AttemptQuiz/@Model.SubClassId" class="form-horizontal" method="post" role="form">
                        <div class="panel panel-success" style="">

                            <div class="panel-heading">
                                <span style=""><b>Capters</b></span>
                            </div>
                            <div class="panel-body">
                                @foreach (var v in Model.Chapter)
                                {
                                    <hr />
                                    <input type="checkbox" value="@v.Name" style="margin-right:5%" name="chapter" /> @v.Name<br />
                                }

                            </div>


                        </div>

                        <div>

                            <input type="submit" id="submit" value="Submit Quiz" class="btn btn-danger" style="margin-left:; margin-top:5px; margin-bottom:5px" />
                        </div>
                    </form>

                </div>

                <div id="private">
                        @foreach(var obj in subList)
                        { 
                        <div id="@obj.SubClassId">
                            <div>
                                @obj.Class.Name --> @obj.Subject.Name
                            </div>
                            <form action="~/Quiz/AttemptQuiz/@Model.SubClassId" class="form-horizontal" method="post" role="form">
                                <div class="panel panel-success" style="">

                                    <div class="panel-heading">
                                        <span style=""><b>Capters</b></span>
                                    </div>
                                    <div class="panel-body">
                                        @foreach (var v in obj.Chapter)
                                        {
                                            <hr />
                                            <input type="checkbox" value="@v.Name" style="margin-right:5%" name="chapter" /> @v.Name<br />
                                        }

                                    </div>


                                </div>
                      
                                <div>

                                    <input type="submit" id="submit" value="Submit Quiz" class="btn btn-danger" style="margin-left:; margin-top:5px; margin-bottom:5px" />
                                </div>
                            </form>

                        </div>
                        }
                  </div>
            </div>
            @Scripts.Render("~/bundles/jquery")
            <script>

                function myFunction(id)
                {
                    alert("My function trigered with id = " + id);
                    $("#private").show();
                    $("#" + id).show();
                    try{
                        for (var v = 1; v < 100; v++)                       
                            if(id!=v)
                                $("#" + v).hide();                       
                           
                    }catch(e)
                    { alert("There is an exception");}

                    $("#individual").hide();
                }
                $(document).ready(function () {

                    $("#private").hide(); 

                });
            </script>

            <!--            <div class="col-md-3 col-sm-4">-->
            <!--            </div> -->

        </div>
    </div>
</div>
    
    }